@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Sancreek&display=swap');

/*
    font-family: 'IM Fell English SC', serif;
    font-family: 'Sancreek', cursive;
    yellow: #F7FF10
    blue: #00B6FB
    orange: #FF8F10
    magenta: #FF00C3
    grey: #707070
*/

main{
    background-color: #00B6FB;
}
body{
    color: #0d0d0d;
    background-color: #FF8F10;
    font-family: 'IM Fell English SC', serif;
}
header {
    background-color: #F7FF10;
    position: sticky;
    top: 0;
}
h1, h2, h4{
    font-family: 'Sancreek', cursive;
}
.imgLogo{
    width:70%;
}
.rotate30{
    transform: rotate(-30deg);
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.click .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.click .bar2 {
    opacity: 0;
}
.click .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.btn-primary {
    background-color: #ff00C3;
    color: #0d0d0d;
    border-color: none;
    border-radius: 20px;
    position:relative;
    margin:.2em;
    -webkit-transition:transform .3s ease-out;
    transition:transform .3s ease-out;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #e202ae;
	color: #0d0d0d;
	border-color: none;
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    z-index:10;
}
.figure-caption {
    background:rgba(255, 255, 255, 0.5);
    color: #0d0d0d;
    padding:.5em;
    padding-top:1em;
}
.figure:hover {
    filter: blur(3px);
    filter: grayscale(0.5);
    filter: sepia(0.25);
}
.box {
    background-color: #F7FF10;
}
.card-header, .card-body {
    background-color: rgba(255, 255, 255, 0.85);
    color: #0d0d0d;
}

li {
    list-style-type: none;
}
.bi-facebook, .bi-instagram, .bi-youtube, .bi-vimeo {
    padding-left: .5em;
	font-size: 1.5em;
}

.bi-star-fill, .bi-star-half {
    color: #FFD700;
}

#star {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-left: 120px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

#logoDiv{
    transform: rotate(-30deg);
}
  
a:link {
    text-decoration: none;
}
footer {
    background-color: #F7FF10;
}

.smallerText{
    font-size: 1em;
}

@media (max-width: 370px) {
	.smallerText{
		font-size: 0.75em;
	}
}